main {
    img {
        max-width: 100%;
        @include transition;
        &:hover {
            transform: scale(1.1);
            @include transition;
        }
    }
    
    .top {
        padding: 100px 0;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 25px;
        .left{
            grid-column: span 3;
            .title {
                font-size: 25px;
                border-bottom: 2px solid #e2e2e2;
                padding-bottom: 20px;
            }
            .right-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
            .img {
                margin: 20px 0;
                width: 100%;
                overflow: hidden;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title {
                font-size: 18px;
                border-bottom: 1px solid #e2e2e2;
                padding-bottom: 15px;
                width: 100%;
            }
            .breaking-new {
                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    width: 100%;
                    position: absolute;
                    z-index: -2;
                }
                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255,255,255,0) 64%, rgba(0,0,0,0.6964986678265056) 93%, rgba(0,0,0,1) 100%);
                    z-index: -1;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    @include transition;
                    }
                }
                div {
                    background-color: #00000063;
                    .break-banner {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        background-color: #ff0303;
                        color: #fff;
                        padding: 10px;
                        width: 50%;
                        text-transform: uppercase;

                    }
                }
                h2 {
                    color: #fff;
                    font-size: 18px;
                    margin: 15px;
                }
                
            }
            .council {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                .img {
                    overflow: hidden;
                    height: 70px;
                    width: 70px;
                }
                a {
                    text-decoration: none;
                    h2 {
                        font-size: 15px;
                        font-weight: 500;
                        @include transition;
                    }
                    &:hover h2 {
                        color: #ff0303;
                        @include transition;
                    }
                }
                .sub-title {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            .add {
                width: 100%;
                aspect-ratio: 1 / 1.2;
                text-decoration: none;
                background: url(../images/add.png) center/cover;       
            }
            form {
                width: 100%;
                overflow: hidden;
                input {
                    height: 40px;
                    width: 100%;
                    padding-left: 20px;
                    border: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    background-color: #f5f5f5; 
                }
            }
            .subscribe {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                text-align: center;
                text-decoration:none;
                color: #fff;
                background-color: #ff0303;
                font-size: 12px;
                padding: 15px 0;
            }
        }
    }
    .article {
        &:first-of-type {
            margin-bottom: 100px;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .button-logos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            gap: 15px;
            .logos {
                display: flex;
                justify-content: flex-start;
                a {
                    color: #bbbbbb;
                    font-size: 18px;
                    text-decoration: none;
                    margin: 0 10px;
                    @include transition;
                    &:hover {
                        color: #ff0303;
                        @include transition;
                    }
                }
            }
        }
    }

    .middle {
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        hr {
            border:0;
            background-color:#cdcdcd;
            color:#cdcdcd;
            height: 1px;
            width:100%;
        }
        .other , .video {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .img {
                overflow: hidden;
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .a-h2 {
                text-decoration: none;
                h2 {
                    font-size: 20px;
                    margin:0;
                }
            }
            .sub-title {
                font-size: 14px;
                font-weight: 400;
            }
        }
        
    }
    .bottom {
        background-color: #f5f5f5;
        padding: 100px 0;
        .videos{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            .img {
                position: relative;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    @include transition;
                }
                &:hover img {
                    filter: brightness(20%);
                    transform: scale(1.1);
                    @include transition;
                }
            }
            .arrow {
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid white;
              }
            h3 {
                color: #000;
            }
        }
        
    }
    @media screen and (min-width: 620px) {
        .article .button-logos {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
    }
    @media screen and (min-width: 720px) {
        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
        }
        .article:not(:first-of-type) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start ;
            gap: 20px;
            .img {
                margin: 0;
                width: 40%;
            }
            .right-text {
                width: 100%;
            }
        }
    }
    @media screen and (min-width: 760px) {
        .middle {
            grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
            gap: 20px;
            .video {
                grid-column: span 2;
                grid-row: span 2;
            }
            .other:nth-of-type(3) {
                grid-column: 3 /span 1 ;
                grid-row: 2 / span 1;
            }
            .other:nth-of-type(4) {
                grid-column: 4 /span 1 ;
                grid-row: 2 / span 1;
            }
        }
        .bottom {
            .videos {
            grid-template-columns: repeat( 4 , minmax(100px, 1fr) );
            }
        }
    }
}

