main {
    img {
        max-width: 100%;
        @include transition;
        &:hover {
            transform: scale(1.1);
            @include transition;
        }
    }
    
    .top {
        padding: 100px 0;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 25px;
        .left{
            grid-column: span 3;
            .title {
                font-size: 25px;
                border-bottom: 2px solid #e2e2e2;
                padding-bottom: 20px;
            }
            .right-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
            .img {
                margin: 20px 0;
                width: 100%;
                overflow: hidden;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
                font-size: 18px;
                border-bottom: 1px solid #e2e2e2;
                padding-bottom: 15px;
            }
            .breaking-new {
                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    width: 100%;
                    position: absolute;
                    z-index: -2;
                }
                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255,255,255,0) 64%, rgba(0,0,0,0.6964986678265056) 93%, rgba(0,0,0,1) 100%);
                    z-index: -1;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    @include transition;
                    }
                }
                div {
                    background-color: #00000063;
                    .break-banner {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        background-color: #ff0303;
                        color: #fff;
                        padding: 10px;
                        width: 50%;
                        text-transform: uppercase;

                    }
                }
                h2 {
                    color: #fff;
                    font-size: 18px;
                    margin: 15px;
                }
                
            }
            .council {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                .img {
                    overflow: hidden;
                    height: 70px;
                    width: 70px;
                }
                a {
                    text-decoration: none;
                    h2 {
                        font-size: 15px;
                        font-weight: 500;
                        @include transition;
                    }
                    &:hover h2 {
                        color: #ff0303;
                        @include transition;
                    }
                }
                .sub-title {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            
        }
    }
    .title {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #3a3a3a;
        width: 100%;
    }
    .article {
        &:first-of-type {
            margin-bottom: 100px;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .button-logos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            gap: 15px;
            .logos {
                display: flex;
                justify-content: flex-start;
                a {
                    color: #bbbbbb;
                    font-size: 18px;
                    text-decoration: none;
                    margin: 0 10px;
                    @include transition;
                    &:hover {
                        color: #ff0303;
                        @include transition;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 620px) {
        .article .button-logos {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
    }
}

